.dashboard-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.navbar-button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #333333;
    border: none;
    cursor: pointer;
}

.navbar-button:hover {
    background-color: #0056b3;
}

.chart-container {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-height: 400px;
}

.transaction-buttons {
    margin: 20px 0;
}

.transaction-button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #333;
    border: none;
    cursor: pointer;
}

button {
    background-color: #ffcc00;
    color: #333333;
    border-radius: 20px;
}

.transactions-list {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.transactions-list h2 {
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f0f0f0;
}

.error-message {
    color: red;
    margin-top: 10px;
}
